*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 3px;
    border-radius: 50px;
}

#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 3px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 600;
    border-color: white;

}

#btn2{
    color: white;
    background-color: orangered;
    border: none;
}

#main>h2{
   
    font-size: 100px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}

img{
    height: 420px;
    width: 320px;
    object-fit: cover; /*y image ko dhng s cover kr leta h vrna image achi show ni hoti h */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
    
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);

}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);

}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 16px;
}

#btm-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 20px;
    justify-content: space-between;
}